@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-height: calc(100vh - 86px);
  --table-height: calc(100% - 255px);
  --dashboard-width: calc(100% - 272px);
}

*::-webkit-scrollbar {
  display: none;
}

@keyframes squeeze-animation {
  0% {
    border-top-width: 1px;
    border-bottom-width: 1px;
    height: 100px;
  }
  50% {
    border-top-width: 4px;
    border-bottom-width: 4px;
    height: 0px;
  }
  100% {
    border-top-width: 1px;
    border-bottom-width: 1px;
    height: 100px;
  }
}

@keyframes text-change-animation {
  0% {
    content: "Trident Metshaft - Your Personal Bookshelf";
  }
  58%,
  65% {
    content: "Discover, Track, and Relive Your Reading Adventures";
  }
  70%,
  100% {
    content: "Trident Metshaft - Your Personal Bookshelf";
  }
}

#animated-div {
  animation: squeeze-animation 6s infinite;
  -webkit-animation: squeeze-animation 6s infinite;
}

#animated-text::after {
  animation: text-change-animation 12s infinite;
  content: "Discover, Track, and Relive Your Reading Adventuress";
  -webkit-animation: text-change-animation 12s infinite;
}
